<div class="process-details-view">
  <adf-toolbar [color]="'accent'">
    <adf-toolbar-title>
      <span *ngIf="processDetails">Process Details > '{{ processDetails.name }}' ({{ processDetails.id }})</span>
    </adf-toolbar-title>
    <adf-toolbar-divider></adf-toolbar-divider>
    <button mat-icon-button
            matTooltip="Close and go back to task list"
            (click)="onGoBack($event)"
            aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </adf-toolbar>
  <mat-tab-group *ngIf="processDetails">
    <mat-tab label="Manage">
      <mat-card>
        <span> {{ getProcessNameOrDescription('medium') }}</span>
        <div *ngIf="isRunning()">
          <button mat-button type="button" (click)="cancelProcess()">{{ 'DETAILS.BUTTON.CANCEL' | translate }}</button>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Properties">
      <adf-process-instance-header
        [processInstance]="processDetails">
      </adf-process-instance-header>
    </mat-tab>
    <mat-tab label="Attachments">
      <adf-process-attachment-list
        [processInstanceId]="processDetails.id"
        (attachmentClick)="onAttachmentClick()">
      </adf-process-attachment-list>
    </mat-tab>
    <mat-tab label="Comments">
      <adf-process-instance-comments
        [processInstanceId]="processDetails.id"
        [readOnly]="false">
      </adf-process-instance-comments>
    </mat-tab>
    <mat-tab label="Tasks">
      <adf-process-instance-tasks
        [processInstanceDetails]="processDetails"
        [showRefreshButton]="true">
      </adf-process-instance-tasks>
    </mat-tab>
    <mat-tab label="Preview">
      <adf-diagram
        [processInstanceId]="processDetails.id">
      </adf-diagram>
    </mat-tab>
  </mat-tab-group>
</div>
