<div class="task-details-view">
  <adf-toolbar [color]="'accent'">
    <adf-toolbar-title>
      <span *ngIf="taskDetails">Task Details > {{ taskDetails.name }} ({{ taskDetails.id }})</span>
    </adf-toolbar-title>
    <adf-toolbar-divider></adf-toolbar-divider>
    <button mat-icon-button
            matTooltip="Close and go back to task list"
            (click)="onGoBack($event)"
            aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </adf-toolbar>
  <mat-tab-group *ngIf="taskDetails">
    <mat-tab label="Manage">
      <adf-task-details
        [taskId]="taskDetails.id"
        [showHeader]="false"
        [showHeaderContent]="false"
        [showInvolvePeople]="false"
        [showComments]="false"
        [showChecklist]="false"
        [showFormTitle]="true"
        [showFormCompleteButton]="true"
        [showFormSaveButton]="true"
        [showFormRefreshButton]="false">
      </adf-task-details>
    </mat-tab>
    <mat-tab label="Properties">
      <adf-task-header
        [taskDetails]="taskDetails">
      </adf-task-header>
    </mat-tab>
    <mat-tab label="Attachments">
      <adf-task-attachment-list
        [taskId]="taskDetails.id"
        (attachmentClick)="onAttachmentClick()">
      </adf-task-attachment-list>
    </mat-tab>
    <mat-tab label="Comments">
      <adf-comments
        [taskId]="taskDetails.id"
        [readOnly]="false">
      </adf-comments>
    </mat-tab>
    <mat-tab label="Checklist (Sub-tasks)">
      <adf-checklist *ngIf="taskDetails.assignee"
                     [readOnly]="false"
                     [taskId]="taskDetails.id"
                     [assignee]="taskDetails.assignee.id">
      </adf-checklist>
    </mat-tab>
  </mat-tab-group>
</div>
